<nav class='d-flex justify-content-between p-3 bg-dark bg-gradient'>
  <a href='/user' class='btn btn-outline-light'>Mi perfil</a>
  <a href='/Products' class='btn btn-outline-light'>Productos</a>
  <a href='/cart' class='btn btn-outline-light'>Carrito</a>
  <a href='/logout' class='btn btn-outline-light'>Salir</a>
</nav>