<nav class='navbar bg-light'>
  <div class='container'>
    <a class='navbar-brand d-flex' href='/dashboad'>
      <img src='{{user.avatar}}' alt='Bootstrap' width='30' height='24' class='thumbnail m-3' />
      <p class='navbar-brand'>{{user.firstName}}</p>
    </a>
    <a href='' class='navbar-brand'>PRODUCTOS</a>
    <a href='' class='navbar-brand'>CARRITO</a>
  </div>
</nav>